<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name=""
						 maxReceivedMessageSize="20000000"
						 maxBufferSize="20000000"
						 maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32"
						 maxArrayLength="200000000"
						 maxStringContentLength="200000000"/>
				</binding>
			</netTcpBinding>
		</bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior0" name="CryptoService.CryptoService">
                <endpoint address="CryptoService" binding="netTcpBinding" bindingConfiguration=""
                    contract="CryptoService.ICryptoService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080" />
                        <add baseAddress="net.tcp://localhost:8090" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>